# Core LangChain stack
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-huggingface
langchain-experimental
langchain-text-splitters

# LLM & Embeddings
groq
sentence-transformers
torch

# Vector Search
faiss-cpu
rank_bm25

# PDF Parsing
pypdf

# Evaluation
ragas
langchain-google-vertexai

# Optional Rerankers
cohere

# App & UI
streamlit
python-dotenv

# Utilities
numpy
pandas
tabulate
torchvision
nltk
